venv
.vscode
quiz_maker/quiz_maker/__pycache__/
quiz_maker/quiz/__pycache__/
quiz_maker/quiz/migrations/__pycache__/
quiz_maker/users/__pycache__/
quiz_maker/users/migrations/__pycache__/
users/__pycache__
users/migrations/__pycache__
quiz_maker/db.sqlite3
