{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Тест</title>
    <link rel="stylesheet" href="{% static 'css/start_quiz.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
</head>
<body>
    <h1>Тест</h1>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div>
            <p style="white-space: pre-line">{{ question.text }}</p>
            {% if question.type == 'fill' %}
                <input id="answer_text" type="text" name="answer">
                <p id="answer_text_right" hidden>Правильный ответ: {{ question.answers.0.text }}</p>
            {% else %}
                {% for answer in question.answers %}
                    <label id="answer_label{{ forloop.counter0 }}">
                        <input id="answer{{ forloop.counter0 }}" type="checkbox" name="answer" value="{{ answer.is_correct }}">
                        {{ answer.text }}
                    </label><br>
                {% endfor %}
            {% endif %}
        </div>
        <hr>
        <button id="check_button" type="button" onclick="button_click()">Проверить</button>
        <button id="next_button" type="submit" style="display: none">Далее</button>
    </form>

    <script>
        window.quizData = {
                questionType: "{{ question.type|escapejs }}",
                answers: JSON.parse('{{ answers_json|escapejs }}'),
                answersCount: '{{ question.answers|length }}'
            };
    </script>
    <script src="{% static 'js/start_quiz.js' %}"></script>
</body>
</html>